html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	display: flex;
	flex-wrap: wrap;
}

.bc4 {
	background-color: #1d9177;
	width: calc(100vw / 3);
	height: calc(100vh / 3);
	position: relative;
}

.bc3 {
	background-color: #471457;
	width: calc(100vw / 3);
	height: calc(100vh / 3);
	position: relative;
}
.bc2 {
	background-color: #114b5f;

	width: calc(100vw / 3);
	height: calc(100vh / 3);
	position: relative;
}

.bc1 {
	background-color: #5e4352;
	width: calc(100vw / 3);
	height: calc(100vh / 3);
	position: relative;
}

.day1 {
	background-color: #dfbbb1;
	height: 230px;
	width: 230px;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.day1::before {
	position: absolute;
	content: '';
	background-color: #c4a59d;
	width: 140px;
	height: 115px;
	border-radius: 50%;
	top: 120px;
	left: 50px;
}

.day1::after {
	position: absolute;
	content: '';
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: transparent;
	top: 180px;
	left: 110px;
	box-shadow: 85px -170px 0 20px #f56476, -105px -170px 0 20px #f56476,
		85px -170px 0 35px #dfbbb1, -105px -170px 0 35px #dfbbb1,
		50px -105px 0 -8px #fff, -50px -105px 0 -8px #fff,
		38px -91px 0 -12px #fff, -38px -91px 0 -12px #fff, 0 -45px 0 -12px #fff,
		-45px -100px 0 2px #440f2b, 45px -100px 0 2px #440f2b,
		0 -40px 0 3px #440f2b, 0 18px 0 -8px #f56476, 0 17px 0 3px #440f2b;
}
